<nav class="navbar navbar-light navbar-expand-md fixed-top bg-faded">
  <div class="container position-relative">
    <div class="navbar-header w-100">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <!-- <img alt="Brand" src="{{ '/images/logo.png' | relative_url }}"> -->
        <span>Highland Tours</span>
      </a>
    </div>

    <div id="primarynav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-end">
        {% for link in site.navigation %}
        <li class="nav-item{% if page.url == link.url %} active{% endif %}">
          <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.text }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="mailto:hello@highlandtoures.me"><i class="far fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  require.deps.push('bootstrap/collapse')
</script>
