---
---

$font-family-sans-serif:  Lato, Arial, sans-serif;
$headings-font-family: Montserrat, Arial, sans-serif;

$navbar-brand-font-size: 2rem;
$navbar-light-brand-color: #5e5e5e;
$navbar-padding-y: 0;
$navbar-padding-x: 0;

@import "bootstrap/bootstrap";
@import "select2/core.scss";
@import "tether/tether.sass";
// @import "leaflet/leaflet";
@import "fontawesome/fontawesome";
@import "fontawesome/regular";

$header-size: 81px;

body {
  padding-top: $header-size;
}

.navbar {
  height: $header-size;
}
.navbar-light {
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  > li {
    > a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 20px 15px 20px 15px;
      transition: all 0.3s ease-in-out;
      position: relative;

      &:after {
        content: "";
        height: 3px;
        left: 0;
        bottom: -3px;
        width: 0px;
        position: absolute;
        transition: all 0.3s ease-in-out;
        background-color: #ff891e;
      }
    }

    &.active > a,
    a:hover {
      color: #ff891e !important;
      border-color: #ff891e;
    }

    &.active > a:after {
      width: 30%;
    }
    a:hover:after {
      width: 100%;
    }
  }
}

.page-image {
  min-height: 480px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0,0,0, 0.3);
  margin-bottom: 2rem;
  h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
}

.gallery {
  .card{
    overflow: hidden;
    border: none;

    img {
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}